<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyc.book.mapper.BookMapper">

    <select id="selectBookList" resultType="com.yyc.book.domain.BookVo">
        SELECT b.*, b_c.name as bookCategoryName
        FROM book b, book_category b_c
        <where>
            b.book_category_id = b_c.id
            <if test="param2.name != null">
               AND b.name LIKE '%' #{param2.name} '%'
            </if>
        </where>
    </select>

</mapper>
